*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
   
}
nav{
    background-color: #f52981;
    width: 100%;
    padding: 10px 0;
    
}
nav .menu{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600px;
}
.menu ul{
    display: inline-flex;
}
menu ul li{
    list-style: none;
    margin-left: 8px;
    text-decoration: none;

}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 500px;
    padding: 8px 15px;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.menu ul li a:hover{
    background: #000;
    color:#ffffff;
}
.image{
    position: relative;
}
.image .image-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image .image-container img{
    display: block;
    width: 300px;
    height: auto;
}
